body{
    background-color: gray;
}
.row{
    background-color: lightsteelblue;
}
.navbar{
    background-color: lightgreen;
}
.container-fluid{
    background-color: lightsteelblue;
}
.dropdown-menu{
    color: lightcoral
}
.col1{
    font-size: larger;
    font-weight: 750;
    
}
.col2{
    font-size: larger;
    font-weight: 750;
}
